* {
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

mia-table {
  width: 90%;
}
