* {
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  // align-items: center;
  padding: 1vw 5vw;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}

mia-table {
  width: 90%;
}
